if SHIELD_DIOSCURI_LEFT
	
	config ZMK_KEYBOARD_NAME
		default "Dioscuri"
		
	config ZMK_SPLIT_ROLE_CENTRAL
		default y

endif

if SHIELD_DIOSCURI_LEFT || SHIELD_DIOSCURI_RIGHT
	
	config ZMK_SPLIT
		default y
	
endif